<div class="container mt-3">
<div class="low">
<%= form_with model: @event, local: true do |f| %>
  <div class="mb-3">
    <label class="form-label">Titlte</label>
  <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <label class="form-label">Datetime</label>
    <%= f.datetime_local_field :start_at, class: 'form-control'%>
  </div>
  <div class="mb-3">
    <label class="form-label">Image</label>
   <%= f.file_field :image, id:"item-image" %>
  </div>
  <img src="/pet_dog_sanpo_woman.png">
      <%= image_tag @event.image.variant(resize: '500x500'), class: 'message-image' if @event.image.attached? %>
  <div class="buttons d-flex ">
  <button type="submit" class="btn btn-primary mr-3">Submit</button>

<%= link_to 'テンプレートから選択',"#",class: "btn btn-secondary mr-3 pt-3 pb-3"%>

  </div>

<% end %>
</div>
</div>
